{% include "header.html" %}

<div class="top-container" style="background-image: url('{{ url_for('static', filename='images/abstract.jpg')}}')">
    <h1>I'm Srushti.</h1>
    <h2 class="top-h" style="color: black">A Software Developer.</h2>
    <!-- <img src="https://cdn-icons-png.flaticon.com/128/3208/3208676.png" alt=""> -->
</div>
<div class="middle-container">
    <div class="profile" id="about">
        <img class="hey-icon" src="static/images/target.png" alt="">
        <h2>Hey.</h2>
        <p>I am a Computer Engineer.</p>
        <p>My current CGPA score is 8.1.</p>
        <p>I pursued Diploma in Computer Engineering with 87 percentage in 2019.</p>
        <p>I can code in almost 5 Programming languages. I love to explore different Technologies. </p>
        <p>My favourite programming languages are C,C++ and Python</p>
        <p>I can code in C, C++, Python, Java, Android, and Flutter.</p>
    </div>
    <hr>
    <section id="projects">
        <div class="skills">
            <h2>My Skills</h2>
            <div class="skill-row">
                <img class="c"
                     src="static/images/c.jpg"
                     alt="https://media4.giphy.com/media/MdA16VIoXKKxNE8Stk/200w.webp?cid=ecf05e47rv7vfojel4vbxpr5spdmgslajrrxq6etaz0nw5qx&rid=200w.webp&ct=g">
                <h3>Software Development</h3>
                <p class="code-para">I can fluently speak in 4 languages and one of them is C++. One of my favourite coding language is C++ and Python. C++ was my introduction to the world of Developing.</p>
            </div>
            <div class="skill-row">
                <img class="da"
                     src="static/images/da.jpg"
                     alt="https://media0.giphy.com/media/NDJWGU4n74di0/giphy.webp?cid=ecf05e47sunwvgaoid0xylfsw3u9tia10wwk00fpu5fsz6or&rid=giphy.webp&ct=g">
                <h3>Data Science</h3>
                <p class="dance-para">I am familiar with SQL and Processing large data sets. I have created Data Analysis projects using Pandas,Numpy and Data Visualization using Matplotlib.</p>
            </div>
            <div class="skill-row">
                <img class="web"
                     src="static/images/web.jpg"
                     alt="https://media0.giphy.com/media/NDJWGU4n74di0/giphy.webp?cid=ecf05e47sunwvgaoid0xylfsw3u9tia10wwk00fpu5fsz6or&rid=giphy.webp&ct=g">
                <h3>Web Development</h3>
                <p class="dance-para">I can create websites using HTML, CSS and JS. I am familiar with Python Frameworks like Django and Flask.</p>
            </div>
            <div class="skill-row">
                <img class="block"
                     src="static/images/block.jpg"
                     alt="https://media0.giphy.com/media/NDJWGU4n74di0/giphy.webp?cid=ecf05e47sunwvgaoid0xylfsw3u9tia10wwk00fpu5fsz6or&rid=giphy.webp&ct=g">
                <h3>Blockchain Development</h3>
                <p class="dance-para">I am Fascinated by the World of Blockchain and Bright future it has. I can create Smart contracts, the Smart Contract I've created are a Smart Contract for Banking Application and Deploy a Car Auction Business Network.
                </p>
            </div>
        </div>
    </section>
    <hr>
    <section id="contact">
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>Hey, Thanks for checking in.</h3>
            <p>If you share similar interests. Let's talk about code while dancing.</p>
            <a class="btn" href="mailto:srushwork5@gmail.com">CONTACT ME</a>
        </div>
    </section>
</div>

{% include "footer.html" %}

